{% extends 'base.html' %}
{% block content %}
<div class="container-fluid py-4">
    <h2 class="mb-4">Upload File</h2>
    
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kelola Stok Barang</h5>
                    
                    <form method="post" enctype="multipart/form-data" action="{% url 'inventory:upload_file' %}">
                        {% csrf_token %}
                        <input type="hidden" name="upload_type" value="stock">
                        <div class="mb-3">
                            {{ form.excel_file }}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-upload"></i> Upload
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Barang Transfer Stok (.xlsx)</h5>
                    
                    <form method="post" enctype="multipart/form-data" action="{% url 'inventory:upload_transfer_file' %}">
                        {% csrf_token %}
                        <input type="hidden" name="upload_type" value="transfer">
                        <div class="mb-3">
                            <input type="file" name="transfer_file" class="form-control" accept=".xlsx">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-upload"></i> Upload
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Barang Exp Produk (.xlsx)</h5>
                    
                    <form method="post" enctype="multipart/form-data" action="{% url 'inventory:upload_exp_produk_file' %}">
                        {% csrf_token %}
                        <input type="hidden" name="upload_type" value="exp_produk">
                        <div class="mb-3">
                            <input type="file" name="exp_produk_file" class="form-control" accept=".xlsx">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-upload"></i> Upload
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
